* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  max-width: 800px;
  margin: 0 auto;
}

input[type='text'] {
  font-size: 1.3rem;
  width: 100%;
}

.category {
  h3 {
    margin: 36px 0 0 0;
  }
}

.gif-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.gif-cards__card {
  display: flex;
  list-style: none;
  padding: 0 4px;
  height: 200px;
  margin-top: 8px;
  vertical-align: middle;
  
  img {
    height: 100%;
  }
}
